In [52]:
# Import Library
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import re
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Shortfire13\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Shortfire13\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [53]:
# Import Data
df = pd.read_csv('jokowi.csv', header=0)
df.head()

,datetime,username,content
0,2022-09-07 23:59:58+00:00,young_ladylike,@erikamelfa @jokowi Parah emang...\nMalah bila...
1,2022-09-07 23:59:54+00:00,SastroJoyo1,@Rizmaya__ @jokowi @PDemokrat @SBYudhoyono O.....
2,2022-09-07 23:59:47+00:00,oketa214,@jokowi Bangsa Indonesia dengan bapak Jokowi t...
3,2022-09-07 23:59:42+00:00,pahlevi0884,Berkolaborasi dengan tiga kementrian tingkatka...
4,2022-09-07 23:59:32+00:00,_ikhwanyan,@tvOneNews Pemerintah @jokowi tidak serius lak...

In [54]:
# Cek info data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1000 non-null   object
 1   username  1000 non-null   object
 2   content   1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

In [55]:
df.describe()

,datetime,username,content
count,1000,1000,1000
unique,902,748,999
top,2022-09-07 23:00:31+00:00,JustAFreeStyle,@jokowi YTh Presiden. agar kurangi inflasi qba...
freq,10,12,2

In [56]:
# Case Folding 
def clean_lower(lwr):
    lwr = lwr.lower() # lower case text
    return lwr

# Buat kolom tambahan untuk data description yang telah dicasefolding
df['lwr'] = df['content'].apply(clean_lower)
casefolding=pd.DataFrame(df['lwr'])
casefolding

                                                   lwr
0    @erikamelfa @jokowi parah emang...\nmalah bila...
1    @rizmaya__ @jokowi @pdemokrat @sbyudhoyono o.....
2    @jokowi bangsa indonesia dengan bapak jokowi t...
3    berkolaborasi dengan tiga kementrian tingkatka...
4    @tvonenews pemerintah @jokowi tidak serius lak...
..                                                 ...
995  @cobeh2021 kabinet rusak byk mentri py kasus, ...
996  @sisiwittfrida menurutku tingginya itulah menu...
997  @kanopimedia @ylbhi @amnestyindo @jokowi polis...
998  @jokowi itu mati jokowi sama penjajah kita buk...
999  @studsguy @marlina_idha @gadafizainuddin emg j...

[1000 rows x 1 columns]

In [57]:
# casefolding.to_csv('casefolding.csv', index= False)

In [58]:
# Remove Puncutuation
clean_spcl = re.compile('[/(){}\[\]\|@,;]')
clean_symbol = re.compile('[^0-9a-z]')

def clean_punct(text):
    text = clean_spcl.sub('', text)
    text = clean_symbol.sub(' ', text) 
    return text

# Buat kolom tambahan untuk data description yang telah di remove punctuation
df['clean_punct'] = df['lwr'].apply(clean_punct)
df['clean_punct']

0      erikamelfa jokowi parah emang    malah bilang ...
1      rizmaya   jokowi pdemokrat sbyudhoyono o    pa...
2      jokowi bangsa indonesia dengan bapak jokowi te...
3      berkolaborasi dengan tiga kementrian tingkatka...
4      tvonenews pemerintah jokowi tidak serius lakuk...
                             ...
995    cobeh2021 kabinet rusak byk mentri py kasus jo...
996    sisiwittfrida menurutku tingginya itulah menun...
997    kanopimedia ylbhi amnestyindo jokowi polisi ke...
998    jokowi itu mati jokowi sama penjajah kita bukt...
999    studsguy marlina idha gadafizainuddin emg joko...
Name: clean_punct, Length: 1000, dtype: object

In [59]:
# df['clean_punct'].to_csv('clean_punct.csv',index=False)

In [60]:
def _normalize_whitespace(text):
    corrected = str(text)
    corrected = re.sub(r"//t",r"\t", corrected)
    corrected = re.sub(r"( )\1+",r"\1", corrected)
    corrected = re.sub(r"(\n)\1+",r"\1", corrected)
    corrected = re.sub(r"(\r)\1+",r"\1", corrected)
    corrected = re.sub(r"(\t)\1+",r"\1", corrected)
    return corrected.strip(" ")
df['clean_double_ws'] = df['clean_punct'].apply(_normalize_whitespace)
df['clean_double_ws']
df['clean_double_ws'].to_csv('cleanWhitespace.csv',index=False)

In [61]:
#clean stopwords
stopword = set(stopwords.words('indonesian'))
def clean_stopwords(text):
    text = ' '.join(word for word in text.split() if word not in stopword) # hapus stopword dari kolom deskripsi
    return text
# Buat kolom tambahan untuk data description yang telah distopwordsremoval   
df['clean_sw'] = df['clean_double_ws'].apply(clean_stopwords)
df['clean_sw'].to_csv('cleanSw.csv', index=False)

KeyError: 'clean_stopwords'