In [1]:
# !pip install snscrape

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [3]:
query = "(convomfs)"
tweets = []
limit = 1000

%time
try:
    print("Start crawling")
    for tweet in sntwitter.TwitterSearchScraper(query=query).get_items():
        if len(tweets) == limit:
            break
        else:
            tweets.append([tweet.date, tweet.user.username,tweet.content])
    df = pd.DataFrame(tweets, columns=['datetime','username','content'])
except Exception as e:
    print(e)

print("Finished")
print("--------")

CPU times: total: 0 ns
Wall time: 0 ns
Start crawling
Finished
--------

In [4]:
df

,datetime,username,content
0,2022-10-06 03:35:15+00:00,sjhwanloml,@convomfs iyanih
1,2022-10-06 03:35:15+00:00,seonghwanjay,"@convomfs Pulang, biar ga keluar duit makan"
2,2022-10-06 03:35:14+00:00,dfbloodlttefa2b,@convomfs ü§≠
3,2022-10-06 03:35:14+00:00,uarmylights,@convomfs Wkwkwkwk punyaku hampir copot malah üò≠ü§≤üèª
4,2022-10-06 03:35:13+00:00,honeybee_jay,@convomfs Otiwi rian
...,...,...,...
995,2022-10-06 03:08:16+00:00,akufixcwk,@convomfs Sini gua yg ngurusin
996,2022-10-06 03:08:15+00:00,kimwinzter,@convomfs iya
997,2022-10-06 03:08:12+00:00,jihaneira,@convomfs Iyh cuacanya mendung enak banget bua...
998,2022-10-06 03:08:03+00:00,strangelsast,@convomfs Iyh nie
999,2022-10-06 03:08:00+00:00,tomyputrap,@astridnovianess @convomfs Iya biar bonus foto...

In [5]:
df.to_csv('dataset.csv', index=False)