In [7]:
# !pip install snscrape

In [8]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [9]:
query = "(FiersaBesari)"
tweets = []
limit = 1000

%time
try:
    print("Start crawling")
    for tweet in sntwitter.TwitterUserScraper(query=query).get_items():
        if len(tweets) == limit:
            break
        else:
            tweets.append([tweet.date, tweet.user.username,tweet.content])
    df = pd.DataFrame(tweets, columns=['datetime','username','content'])
except Exception as e:
    print(e)

print("Finished")
print("--------")

CPU times: total: 0 ns
Wall time: 0 ns
Start crawling
__init__() missing 1 required positional argument: 'username'
Finished
--------

In [10]:
df

,datetime,username,content
0,2022-10-12 06:48:56+00:00,rxxyz6,@FiersaBesari terlalu menyakitkan ketika diliat
1,2022-10-12 06:28:05+00:00,nadubasyri,SEBUAH GARIS WAKTU...\n\nJika saatnya tiba sed...
2,2022-10-12 06:27:33+00:00,missheart222,@t @teddspotting @R @jericho_rosales @rajolaur...
3,2022-10-12 06:10:41+00:00,daissysfriend,"fiersa besari was right,\n\nkita adalah rasa y..."
4,2022-10-12 06:02:46+00:00,Selvi28874608,@FiersaBesari ðŸ¤£
...,...,...,...
995,2022-10-09 12:29:13+00:00,machadepanmu,@FiersaBesari Rada rada maksa yaaðŸ˜­
996,2022-10-09 12:27:17+00:00,herfinnnnn,@dirganadiwa @FiersaBesari semogaa remedial ka...
997,2022-10-09 12:27:10+00:00,nanabunshin,@givinguallmalop Satru 2 - Denny caknan\nDan -...
998,2022-10-09 12:26:06+00:00,dirganadiwa,@FiersaBesari @herfinnnnn mungkin hrs remedial
999,2022-10-09 12:24:28+00:00,BayiGembulll,"@FiersaBesari Ikut remedial juga boleh gk kak,"

In [11]:
df.to_csv('dataset1.csv', index=False)